<!DOCTYPE html>
{% load static %}
<html>
    
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Project One</title>
	<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="{% static 'styles/main.css' %}" /> -->
	<link rel="stylesheet" href="{% static 'styles/login.css' %}" />
</head>

{% block content %}

{% endblock content %}

<body>
	
</body>
</html>
